<nav class="navbar navbar-expand-lg navbar-light bg-white" style="font-size: 16px; padding: 20px; ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: end;">
        <div class="navbar-nav">
         <div class="navbar-div">
           <!-- <a class="nav-link" href="#">Features</a> -->
           <i class="fa-regular fa-bell"style="font-size:18px"></i>
           <a class="nav-link" href="#"><strong>Kelin</strong></a>
           <a> <img src="assets/logo.png" alt=""> </a>
         </div>
        </div>
      </div>
    </div>
  </nav>