<div class="sidenav">
    <img src="assets/logo.png" alt="">
    <div class="d-flex">
        <mat-icon class="mat">dashboard</mat-icon>
        <a routerLink="workspace">Workspace</a>
    </div>
    <div class="d-flex">
        <mat-icon>dashboard</mat-icon>
        <a routerLink="client">Clients</a>
    </div>
    <div class="d-flex">
        <mat-icon>description</mat-icon>
        <a routerLink="schedule">Schedule Appointment</a>
    </div>
    <div class="d-flex">
        <mat-icon>list</mat-icon>
        <a routerLink="paymet">Payment</a>
    </div>
    <div class="d-flex">
        <mat-icon>list</mat-icon>
        <a routerLink="task">Task</a>
    </div>
    <div class="d-flex">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <!-- <mat-icon>list</mat-icon> -->
        <a routerLink="message">Message</a>
    </div>
    <div class="d-flex">
        <mat-icon>assignment</mat-icon>
        <a routerLink="report">Reports</a>
    </div>
</div>

<div class="main">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
</div>