<!-- <p>workspace works!</p> -->
<div class="workspace-container">
    <div class="">
        <div class="workspace-header">
            <!-- <div class="notification">Kelin</div>
            <div class="image">
                <img src="" alt="">
            </div> -->
            <p style="font-size: 20px;"><strong>Your Workspace</strong></p>
            <p>Welcome, xxx</p>&nbsp;
            <p><strong>Overview</strong></p>
        </div>
        <div class="overview-cards row">
            <div class="check col-6">

                <div class="card agenda">
                    <div class="top-line"></div>
                    <div class="top-color">Today's Agenda </div> 
                    <div class="event">You don't have any event schedule for today.<span class="add">Add</span></div>
                </div>
            </div>
            <div class="check col-6">

                <div class="card activity">
                    <div class="top-line"></div>
                    <div class="top-color">
                        <p><strong>Activity Report</strong></p>
                        <p class="view">View full activity report</p>
                    </div>
                    <div>
                        <hr class="line">
                        <div class="activityDate">Tuesday(18th sept. 2019)</div>
                    </div>
                    <div class="report1">
                        <div>You added a new client</div>
                    </div>
                    <div class="report2">
                        <div>Odusote Mayokun</div>
                        <div class="status col-6" >status: pending</div>
                    </div>
                </div>
            </div>
            <div class="check col-6">

                <div class="card task">
                    <div class="top-line"></div>
                    <div class="top-color">
                    <p><strong>Task that are due</strong></p>
                    <p class="createTask">Create Tasks</p>
                </div>
                <div class="followUp-div">
                    <div class="followUp">
                       <div>Follow up with<span style="color: orange;"> Odusote</span></div>
                       <div>Due on:1/21/2021 &nbsp;  created on 1/15/2021</div>
                   </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
